Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

In [5]:
def int_list(list1):
    list2 = []
    for i in list1:
        if type(i)==int:
            list2.append(i)
    print(list2)

In [8]:
list3 = [2, 3, 'Divyanshu', 5, 6, 7, 'Sudhandhu', 8, 6, 5, 6, 'Python']

In [7]:
int_list(list3)

[2, 3, 5, 6, 7, 8, 6, 5, 6]

Question2
Given a list of numbers, create a function which returns the list but with each element's
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

In [25]:
def add_indexes(list1):
    return [i + list1[i] for i in range(len(list1))]

In [26]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth.

In [29]:
def cone_volume():
    height = float(input("Enter the height:- "))
    radius = float(input("Enter the radius:- "))
    print(round((1/3*3.14*radius**2*height), 2))

In [30]:
cone_volume()

Enter the height:- 3
Enter the radius:- 2
12.56

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

In [24]:
def triangle(n):
    j = 1
    if n == 1:
        print (1)
    else:
        for i in range(2, n+1):
            j = j+i
        print(j)

In [26]:
triangle(6)

21

In [27]:
triangle(215)

23220

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.

In [29]:
def missing_num(lst):
    for i in range(1, 11):
        if i in lst:
            pass
        else:
            print(i)

In [30]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5