1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [19]:
test1 = 'This is a test of the emergency text system,'
f = open('test.txt', 'w')
f.write(test1)
print('done')
f.close()

done

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

No, there is no difference between test 1 and test 2.

In [20]:
with open('test.txt','r') as f:
    test2 = f.read()

In [21]:
test2

'This is a test of the emergency text system,'

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [23]:
import csv
rows = [['title','author','year'],
       ['The Weirdstone of Brisingamen','Alan Garner',1960],
       ['Perdido Street Station','China Miéville',2000],
       ['Thud!','Terry Pratchett',2005],
       ['The Spellman Files','Lisa Lutz',2007],
       ['Small Gods','Terry Pratchett',1992]]

with open('books.csv', 'w', newline = '') as f:
    writer = csv.writer(f)
    writer.writerows(rows)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [25]:
import sqlite3
# define connection and server
connection = sqlite3.connect('books.db')
cursor = connection.cursor()
# create books table
cursor.execute('CREATE TABLE IF NOT EXISTS books(title TEXT, author TEXT, year INTEGER)')
connection.commit()

5. Read books.csv and insert its data into the book table.

In [27]:
import pandas as pd
read_books = pd.read_csv('books.csv', encoding='unicode_escape')
read_books.to_sql('books', connection, if_exists = 'append', index = False)

5

In [28]:
read_books

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

6. Select and print the title column from the book table in alphabetical order.

In [39]:
cursor.execute('select title from books order by title asc')

In [40]:
print(cursor.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [41]:
cursor.execute('select * from books order by year ')

In [42]:
print(cursor.fetchall())

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [43]:
import sqlalchemy

In [45]:
cursor = sqlalchemy.create_engine("sqlite:///books.db")
rows = cursor.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [46]:
pip install redis

Collecting redis
  Downloading redis-4.6.0-py3-none-any.whl (241 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 redis-4.6.0
Note: you may need to restart the kernel to use updated packages.

In [52]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [53]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hset('test',mapping = {'count' : 1, 'name' : 'Fester Bestertester'})
#conn.hset('test',key =  1, value = 'Fester Bestertester')
conn.hgetall('test')

10. Increment the count field of test and print it.

In [54]:
conn.hincrby('test','count', 3)